.button {
  border-radius: 5px;
  display: flex;
  flex-direction: row;

  cursor: pointer;
  font-family: inherit;

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  transition: var(--transition-duration);
  transition-timing-function: var(--timing-function);
}

.button:hover {
  background-color: #ab8d7852;
}

.button-group {
  display: flex;
  text-align: center;
  justify-content: center;

  @media screen and (max-width: 767px) {
    margin-top: 62px;
  }

}

.library__button {
  // margin-bottom: 62px;
  // margin-top: 52px;
  width: 130px;
  height: 44px;
  background: transparent;
  color: var(--secondary-text-color);
  border: solid 1px;
  border-color: var(--secondary-text-color);

  @media screen and (min-width: $tablet) {
    width: 152px;
  }

  @media screen and (min-width: $desktop) {
    width: 147px;
    height: 42px;
  }
}

.library__button:not(:last-child) {
  margin-right: 20px;

  @media screen and (min-width: $tablet) {
    margin-right: 32px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 16px;
  }
}

.library__button.is-active {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}


.back_to_top {
  width: 60px;
  height: 60px;
  font-weight: 700;
  background-color: rgba(255, 107, 9, 0.6);
  color: #fff;
  border-radius: 50px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  display: none;
  font-size: 18px;
  line-height: 2;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 3;
}

.back_to_top:hover {
  background-color: rgba(255, 107, 9);
  animation: img-size 1000ms infinite cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @keyframes img-size {
    50% {
      bottom: 40px;
    }
  }
}

.back_to_top-show {
  display: flex;
  justify-content: center;
  align-items: center;
}