.backdrop {
  padding: 30px 10px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  &.trailer-holder {
    background-color: rgba(0, 0, 0, 0.9);
  }
  position: fixed;
  top: 0;
  transition: opacity 300ms, visibility 300ms;
  z-index: 3;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
  transition: transform 250ms linear;
}

.modal {
  border-radius: 5px;
  border: 1px solid #000;
  overflow: hidden;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  height: 100%;
  max-width: 400px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(87, 13, 13, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  overflow-y: auto;
  @include mq(tablet) {
    max-width: 750px;
  }
  @include mq(desktop) {
    max-width: 900px;
  }
}

.team__members {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-bottom: 15px;
}

.team__title {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  font-size: 50px;
  font-weight: 700;
}

.team__info {
  color: #ffffff;
  padding-left: 5px;
  box-shadow: 0 2px 2px #ffffff;
  padding-bottom: 20px;
  margin-bottom: 15px;
  display: flex;
  font-size: 18px;
  justify-content: center;
  align-items: center;
}
// .team__wrapper {

// }

.team__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.team__list-item {
  overflow: hidden;

  outline: 2px solid rgba(87, 13, 13, 1);

  border-radius: 8px;
  background-color: #ffffff;
  width: 220px;
  margin-bottom: 10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team__list-item:hover {
  transform: scale(1.1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team__item-name {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: black;
}

.team__list-spec {
  margin-top: 5px;
  padding-bottom: 8px;
  color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
}

.team__list-img {
  width: 100%;
  height: 243px;
  overflow: hidden;
}

.modal-close {
  fill: black;
  width: 35px;
  height: 35px;
  border: 1px solid;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    fill: #2196f3;
  }
  &:focus {
    fill: #2196f3;
  }
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

// .no-scroll {
//   overflow: hidden;
// }

.team__list-item-member {
  width: 250px;
  height: 243px;
}

.team__wrapper {
  height: 900px;
  // overflow-y: auto;
}
