.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 197px 60px 197px;

  &__button {
    padding-top: 13px;
    padding-bottom: 11px;
    padding-left: 13px;
    padding-right: 13px;

    border-radius: 5px;
    background-color: #fff;
    font-family: inherit;
    font-weight: 500;

    &--arrow {
      background-color: var(--background-color);
      padding: 10px;
    }

    &:not(:last-child) {
      margin-right: 2px;
    }

    &:not(--arrow):not(.active):hover {
      background-color: var(--accent-color);
      color: var(--secondary-text-color);
      opacity: 85%;
    }

    &.active {
      padding: 13px 13px 11px 13px;
      background-color: var(--accent-color);
      color: var(--secondary-text-color);
    }
  }

  &__points {
    &--first {
      margin-left: 16px;
      margin-right: 16px;
    }

    &--last {
      margin-right: 16px;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;

    &--first-button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 10px;
    }

    &--last-button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
    }

    &--buttons {
      display: flex;
      align-items: center;
      justify-content: center;

      @include mq(mobile-only) {
        margin-right: 5px;
        margin-left: 5px;
      }

      margin-right: 16px;
    }
  }
}

@include mq(mobile-only) {
  .hidden-in-mobile {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
}

#tui-pagination-container {
  height: 44px;
  width: 480px;
  background-color: #fff;
  border-radius: 20px;
  margin: 0 auto;
  box-shadow: 3px 2px 3px 1px rgb(163 162 162 / 75%);
  margin-bottom: 20px;
}

#tui-pagination-container strong {
  background: #FF6B08;
}

#tui-pagination-container .tui-page-btn {
  width: 40px;
  height: 40px;
  padding: 10px 0;
  border: none;
  border-radius: 6px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

#tui-pagination-container .tui-first:hover,
#tui-pagination-container .tui-prev:hover,
#tui-pagination-container .tui-next:hover,
#tui-pagination-container .tui-last:hover {
  background-color: rgb(241, 241, 241);
}

.tui-ico-first,
.tui-ico-prev,
.tui-ico-next,
.tui-ico-last {
  filter: brightness(.5)contrast(1.2);
}