<div class="backdrop is-hidden backdrop-close-modal">
  <div class="modal">
      <div class="team__wrapper">
        <h1 class="team__title">404 NOT FOUND</h1>
        <p class="team__info">Нашій команді був доручений проект, який має за мету зробити зручний сайт для шанувальників гарного та легкого відпочинку під новинки фільмів.За бажанням замовника ми зробили відображення всіх новинок фільмів за рейтингом, додали можливість приєднувати фільми у власну "Бібліотеку" - для постійних користувачів, змінювати тему сайту на темну/світлу.</p>
        <p class="team__members">Над проектом працювали:</p>
          <ul class="team__list">
              <li class="team__list-item">
                  <div class="team__list-img">
                    <img src="./images/team-modal/Volodymyr-Kosoriz.jpg" alt="Volodymyr Kosoriz" width="220">
                  </div>
                  <p class="team__item-name">Володимир Козоріз</p><span class="team__list-spec"> Team leader</span>
              </li>
              <li class="team__list-item">
                  <div class="team__list-img">
                    <img src="./images/team-modal/Katerina.jpg" alt="Katerina Ryabchenko" width="220">
                  </div>
                  <p class="team__item-name">Катерина Рябченко</p><span class="team__list-spec"> Scrum master</span>
              </li>
              <li class="team__list-item">
                  <div class="team__list-img">
                    <img src="./images/team-modal/Pan_Roman.jpg" alt="Panchuk Roman" width="220">
                  </div>
                  <p class="team__item-name">Роман Панчук</p><span class="team__list-spec"> Frontend Developer</span>
              </li>
              <li class="team__list-item">
                  <div class="team__list-img">
                    <img class="team__list-item-member" src="./images/team-modal/Denis.jpg" alt="Denis Chornyi" width="220">
                  </div>
                  <p class="team__item-name">Денис Чорний</p><span class="team__list-spec"> Frontend Developer</span>
              </li>
              <li class="team__list-item">
                  <div class="team__list-img">
                    <img src="./images/team-modal/Roman.jpg" alt="Roman Baitala" width="220">
                  </div>
                  <p class="team__item-name">Роман Байтала</p><span class="team__list-spec"> Frontend Developer</span>
              </li>
              <li class="team__list-item">
                  <div class="team__list-img">
                    <img src="./images/team-modal/Omelchuk_Roman.jpg" alt="Roman Omelchuk" width="220">
                  </div>
                  <p class="team__item-name">Роман Омельчук</p><span class="team__list-spec"> Frontend Developer</span>
              </li>
              <li class="team__list-item">
                  <div class="team__list-img">
                    <img src="./images/team-modal/Evgenyi-Yakovenko.jpg" alt="Evgeniy Yakovenko" width="220">
                  </div>
                  <p class="team__item-name">Євгеній Яковенко</p><span class="team__list-spec"> Frontend Developer</span>
              </li>
              <li class="team__list-item">
                  <div class="team__list-img">
                    <img src="./images/team-modal/Volodymyr-Pahomov.jpg" alt="Pahov Volodymyr" width="220">
                  </div>
                  <p class="team__item-name">Пахомов Володимир</p><span class="team__list-spec"> Frontend Developer</span>
              </li>
              <li class="team__list-item">
                  <div class="team__list-img">
                    <img src="./images/team-modal/Elena.jpg" alt="Elena" width="220">
                  </div>
                  <p class="team__item-name">Олена Шевченко</p><span class="team__list-spec"> Frontend Developer</span>
              </li>
          </ul>
      </div>
      <button class="modal-close" data-modal-close>
        <i class="material-icons">close</i>
      </button>
  </div>
</div>